@import url("reset.css");

body {
   font-family: "Lato", sans-serif;
   font-size: 25px;
   font-weight: 400;
}

.wrapper {
   position: relative;
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.wrapper > block {
   flex-grow: 1;
}

.header {
   position: sticky;
   padding: 20px;
   top: 0;
   left: 0;
   margin-bottom: 20px;
   z-index: 3;
   background-color: aqua;
}

.header__title h1 {
   text-align: center;
   font-size: 35px;
}

main>* {
   margin-bottom: 82px;
}

main > *:last-child {
  margin-bottom: 0;
}

[class*="__container"] {
   max-width: 1392px;
   margin: 0 auto;
}

.page {
   margin-bottom: 15px;
}

.text P {
   text-align: center;
}

.flex {   
   padding: 15px;
   width: 100%;
   display: flex;
   min-height: 100px;
   background-color: rgb(22, 224, 158);
}

.flex__item {
   width: 150px;
   height: 150px;  
   background-color: rgb(124, 78, 255);
   display: flex;
   justify-content: center;
   align-items: center;
}

.flex1 {
   justify-content: space-between;
   align-items: center;
}

.flex2 {
   justify-content: space-around;
   align-items: center;
}

.flex3 {
   justify-content: space-evenly;
   align-items: center;
}

.flex4 {
   column-gap: 20px; 
}

.flex5 {
   flex-direction: row-reverse;
   column-gap: 20px; 
}

.flex6 {
   flex-direction: column;
   row-gap: 10px;
}

.flex7 {
   justify-content: center;
   flex-direction: column;
   align-items: center;
   gap: 20px;   
}

.flex8 {
   min-height: 200px;
   flex-wrap: wrap;
   align-content: center;
   gap: 20px;  
}

.flex9 {
   align-items: center;
   gap: 20px;
}

.flex9__item:nth-child(2) {
   flex-basis: 50px;
}

.flex9__item:nth-child(5) {
   flex-grow: 2;
}


/* ПРАКТИКА */
/* products */
[class*="__title"] {
   text-align: center;  
}

.products__title, .benefits__title {
   margin-bottom: 136px;
   font-size: 32px;
   font-weight: 800;
   line-height: 1.25;
   text-transform: uppercase;
   color: #2f302c;
}

.products__items {
   display: flex;
   flex-wrap: wrap;
   gap: 72px 36px;
}

.item-block {
   display: flex;
   flex-direction: column;
   flex-grow: 0;
   flex-shrink: 1;
   flex-basis: 440px;
}

.item-block__link-image {
   display: flex;
   margin-bottom: 32px;
}

.item-block__body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 12px;
   padding-bottom: 10px;
}

.item-block__title, .item-card__title {
   font-size: 16px;
   text-transform: uppercase;
   line-height: 1.25;
   text-align: center;
   color: #2f302c;
}

.item-block__title {
   font-weight: 500;
}

.item-block__title a:hover {
   text-decoration: underline;
   color: #7e7f7c;
}

.item-block__list {
   display: flex;
   gap: 4px;
}

.item-block__price {
   color: #2f302c;
   font-size: 20px;
   font-weight: 800;
   line-height: 1.4; /* 28/20 */
}

/* benefits */
.benefits {
   padding: 82px 0;
}

.benefits__title {
   margin-bottom: 72px;
}

.benefits__container {
   max-width: 1180px;
}
.benefits__items {
   display: flex;
   flex-wrap: wrap;
   gap: 68px 68px;
}

.benefits__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 348px;
}

.item-card__img, .item-card__title {
   margin-bottom: 24px;
}

.item-card__title {
   font-weight: 700;   
}

.item-card__text p {
   color: #7e7f7c;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.25;
   text-align: center;
}

/* footer */
.footer {
   text-align: center;
   padding: 10px 0;
   background-color: aqua;
}

.footer__title {
   font-size: 25px;
}




