@import url("reset.css");

body {
   font-family: "Lato", sans-serif;
   font-size: 16px;
   font-weight: 400;
}

.wrapper {
   overflow: clip;
   min-height: 100%;
}

.header {
   position: sticky;
   padding: 30px;
   top: 0;
   left: 0;
   margin-bottom: 20px;
   z-index: 3;
   background-color: aqua;
}

.header__title h1 {
   text-align: center;
   font-size: 20px;
}

.main {
   margin-bottom: 50px;
}

/* CARD */
.box {
   margin-bottom: 50px;
   text-align: center;
}

.card {
   display: inline-block;   
}
  
.card__body {
   position: relative;  
   perspective: 800px;
}

.card__back,
.card__front {
   border-radius: 30px;
   overflow: hidden;
   transition: all 1s;
}

.card__back {
   transform: rotateY(180deg);
}

.card__front {
   position: absolute;
   top: 0;
   left: 0;
   backface-visibility: hidden;
   transform: rotateY(0deg);
}

.card__body:hover .card__back {
   transform: rotateY(0deg);
}

.card__body:hover .card__front {
   transform: rotateY(-180deg);
}

 /* ПОЇЗД - TRAIN */
.platform {   
   max-width: 100%;
   min-height:1000px;
   margin: 0 auto;
   position :relative;
   background: url(../img/sky1.jpg) center / cover no-repeat;
}

/* рейки - rails */
.track {
   position: absolute;
   width: 200%;
   height: 40px;
   left: 0;
   right: 0;
   bottom: 100px;
   background: repeating-linear-gradient(to right, #8a4a2d 0, #8a4a2d 12px, transparent 12px, transparent 32px);
   animation: moveRails 18s linear infinite;
}

@keyframes moveRails {
   from {
      transform: translateX(0);
   }
   to {
      transform: translateX(-50%);
   }
}

.track:before {
   content:"";
   position: absolute;
   left: 0;
   right: 0;
   top: 4px;
   height: 6px;
   background: #b86a3e;
}

.track:after {
   content:"";
   position: absolute;
   left: 0;
   right: 0;
   bottom: 4px;
   height: 6px;
   background: #b86a3e;
}

  /* поїзд - train */
.train {
   position: absolute;
   left: 50%;
   bottom: 110px;
   width: 520px;
   height: 160px;
   margin-left: -260px;
}

/* вагон - transit */
.transit {
   position: absolute;
   left: 0;
   top: 20px;
   width: 220px;
   height: 120px;
   background: #f18b68;
   border-radius: 12px;
}

/* вікна - windows */
.transit__windows {
   position: absolute;
   width: 45px;
   height: 38px;
   background-color: #ffe9a8;
}

.ws1 {
   position: absolute;
   top: 20px;
   left: 10px;
}

.ws2 {
   position: absolute;
   top: 20px;
   left: 62px
}

.ws3 {
   position: absolute;
   top: 20px;
   left: 114px;
}

.ws4 {
   position: absolute;
   top: 20px;
   left: 166px;
}

/* колеса вагона - transit wheel */
.wheel {
   position: absolute;
   bottom: -18px;
   width: 26px;
   height: 26px;
   background-color: #f7cbb6;
   border-radius: 50%;
   border: 4px solid #c04b32;   
   animation: spin 12s linear infinite;
   transform-origin: center;
}
    
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.transit__wheel:after {
   content:"";
   position: absolute;
   left: 50%;
   top: 50%;
   width: 60%;
   height: 60%;
   background-color: #de5c3b;
   border-radius: 50%;
   translate: -50% -50%;
   outline: 2px dashed #000;
}

.transit__wheel.w1 { 
   left: 38px; 
}

.transit__wheel.w2 { 
   left: 96px; 
}

.transit__wheel.w3 { 
   left: 154px; 
}

/* локомотив - locomotive */
.locomotive {
   position: absolute;
   left: 180px;
   top: 30px;
   width: 300px;
   height: 110px;
}

/* кабіна - cabin */
.locomotive__cabin {
   position: absolute;
   left: 50px;
   top: -20px;
   z-index: 2;
   width: 70px;
   height: 90px;
   background: #f18b68;
}

.locomotive__cabin:before {
   content:"";
   position: absolute;
   left: 15px;
   top: 5px;
   width: 40px;
   height: 40px;
   background: #ffe9a8;
}

.locomotive__roof {
   position: absolute;
   left: 50px;
   top: -30px;
   width: 80px;
   height: 10px;
   border-radius: 0 10px 10px 0;
   background: #c04b32;
}

/* котел і передня частина - engine */
.locomotive__body {
   position:  absolute;
   left: 230px;
   top: 65px;
   width: 170px;
   height:75px;
   background: #f18b68;
   border-radius: 40px 45px 10px 10px;
}

.stripe {
   position: absolute;
   top: 110px;
   left: 265px;
   z-index: 2;
   width: 135px;
   height: 10px;
   background-color: #c04b32;
}

.locomotive__front {
   position: absolute;
   left: 350px;
   top: 115px;
   width: 70px;
   height: 25px;
   background: #f18b68;
   transform: skewX(-35deg);
   rotate: 55deg;
}

/* труба - chimney */
.pipe {
   position: absolute;
   left: 160px;
   top: 0;
   width: 30px;
   height: 40px;
   background: #f18b68;
}

.pipe:before {
   content:"";
   position: absolute;
   left: -5px;
   bottom: 40px;
   width: 40px;
   height: 5px;
   border-radius: 10px;
   background: #c04b32;
}

.pipe__smoke {
   position: absolute;
   left: -30px;
   bottom: 50px;
   width: 100px;
   height: 70px;
   border-radius: 50%;
   background-color: #61605d;
   filter: blur(4px); 
}

.smoke--1 {  
   animation: smoke 2s ease-out infinite;
}

.smoke--2 {
   animation: smoke 2s ease-out 1s infinite;
}

@keyframes smoke {
    0% {
      opacity: 0.6;
        transform: translate(0, 0) scale(1.3);
    }
    100% {
      opacity: 0;
        transform: translate(-50px, -150px) scale(2.3);
    }
}

/* колеса - wheels  */
.big {
   position: relative;
}
.big__wheel {
   position:absolute;
   left: 220px;
   bottom: -159px;
   width: 56px;
   height: 56px;
   z-index: 3;
   background-color: #ffe9a8;
   border-radius: 50%;
   border: 5px solid #c04b32;
   animation: spin 12s linear infinite;
   transform-origin: center center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.big__wheel::after {
   content:"";
   position: absolute;
   left: 50%;
   top: 50%;
   width: 50%;
   height: 50%;
   background-color: #de5c3b;
   border-radius: 50%;
   translate: -50% -50%;
   outline: 2px dashed #000;
}

.rod {
   position: absolute;
   left: 250px;
   bottom: 30px;
   width: 75px;
   height: 4px;
   z-index: 3;
   background: #c04b32;
   transform: rotate(10deg);  
   animation: rod 12s linear infinite;
   transform-origin: 0 50%;
}

@keyframes rod {
   0% {
      width: 75px;
      rotate: 0deg;  
   }
   10% {
      width: 76px;
      rotate: 4deg;
   }
   20% {
      width: 77px;
      rotate: 0deg;
   }
   30% {
      width: 78px;
      rotate: 4deg;
   }
   40% {
      width: 79px;
      rotate: 0deg;
   }
   50% {
      width: 80px;
      rotate: 4deg;
   }
   60% {
      width: 79px;
      rotate: 0deg;
   }
   70% {
      width: 77px;
      rotate: 4deg;
   }
   80% {
      width: 75px;
      rotate: 0deg;
   }
   90% {
      width: 73px;
      rotate: 4deg;
   }
   100% {
      width: 75;
      rotate: 0deg;
   }
}

.locomotive__wheel::after {
   content:"";
   position: absolute;
   left: 50%;
   top: 50%;
   width: 60%;
   height: 60%;
   background-color: #de5c3b;
   border-radius: 50%;
   translate: -50% -50%;
   outline: 2px dashed #000;
}

.locomotive__wheel.s1 {
   left: 310px;
   bottom: 0;
}

.locomotive__wheel.s2 {
   left: 350px;
   bottom: 0;
}

/* фара та промінь - headlight and beam */
.light {
   position: relative;
   width: 400px;
   height: 200px;
}

.headlight {
   position: absolute;
   left: 380px;
   top: 80px;
   width: 18px;
   height: 10px;
   z-index: 2;
   background: #f18b68;
}

.locomotive__beam {
   position: absolute;
   left: 396px;
   top: 91px;
   width: 350px;
   height: 140px;
   background: linear-gradient(to right, rgba(255, 255, 180, 0.95), rgba(255, 255, 200, 0.5), rgba(200, 220, 255, 0.2), rgba(255, 255, 255, 0));
   clip-path: polygon(0 45%, 100% 0, 100% 100%);
   filter: blur(3px);
   transform: translateY(-50%);
}

/* footer */
.footer {
   text-align: center;
   padding: 10px 0;
   background-color: aqua;
}

.footer__title {
   font-size: 25px;
}




