
/* Скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Значення за замовченням */
body {
   font-family: "Lato", sans-serif;
   color: #2f302c;
}

.wrapper {
   position: relative;
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}

.wrapper > maim {
   flex-grow: 1;
}

/* Обмежуючий контейнер  */
[class*="__container"] {
   max-width: 1422px;
   margin: 0 auto;
   padding: 0 15px;
}

/* header */
.header__container {
   min-height: 164px;
   padding-top: 5px;
   padding-bottom: 5px;
   display: flex;
   align-items: center;
   gap: 80px;         
}

.header__image-logo {
   width: 200px;
   max-width: none;
}

.header__search {
   flex-basis: 264px;
}

.search-header {
   display: flex;
   overflow: hidden;
   border-bottom: 1px solid #d4d4d4;
}

.search-header__button {
   width: 15px;
   flex-shrink: 0;
   background: url(../img/icons/search.svg) left no-repeat;
}

.search-header__input {
   padding-left: 15px;
   padding-right: 15px;
   height: 43px;
}

.header__menu {
   flex-grow: 1;
}

.icon-menu {
   display: none;
}

.menu__list {
   display: flex;
   align-items: center;
   gap: 8px 44px;
   flex-wrap: wrap;
}

.menu__link,
.action-header__link {
   font-weight: 700;
   line-height: 1.25;
   color: #2f302c;
}

.action-header {
   display: flex;
   gap: 44px;
}

.action-header__link {
   padding-left: 22px;
   display: block;
}

.action-header__link--love {
   background: url(../img/icons/heart.svg) left no-repeat;
}

.action-header__link--cart {
   background: url(../img/icons/bag.svg) left no-repeat;
}

/* section catalog */
.catalog {
   padding-bottom: 82px;
}

.catalog__cards {
  display: grid;
   gap: 36px;
   grid-template-columns: 321px 1fr 321px;
   padding: 0 0 82px;
}

.catalog__card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 584px;
   font-size: 0;
}

.catalog__card--first {
   position: relative;
   min-height: 584px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.catalog__card:not(.catalog__card--second) {
   background-color: #f7f7f7;
   padding-left: 32px;
   padding-right: 32px;
}

.catalog__card:first-child {
   padding-bottom: 56px;
}

.catalog__card:nth-child(3) {
   padding-top: 48px;
}

.catalog__card:not(:first-child) {
   flex-direction: column-reverse;
}

.catalog__card--second .catalog__content {
   text-align: center;
}

.catalog__card--second .catalog__content p:not(:last-child) {
   max-width: 310px;
   margin-bottom: 18px;
}

.image {
   position: relative;
}

.image__lamp--small {
   position: absolute;
   top: 0;
   right: 48px;
}

.image__lamp--big {
   position: absolute;
   top: 0;
   right: 0;
}

.catalog__content > *:not(:last-child) {
   margin-bottom: 24px;
}

.catalog__content h3 {
   font-size: 20px;
   font-weight: 800;
   line-height: 1.4;
   text-transform: uppercase;
}

.catalog__content p:not(:last-child) {
   font-size: 16px;
   font-weight: 500;
   line-height: 1.25;
   color: #7e7f7c;
   margin-bottom: 38px;
}

.catalog__content a {
   font-size: 16px;
   font-weight: 500;
   line-height: 1.25;
   color: #7e7f7c;
   transition: scale 0.3s;
}

.catalog__content a:hover {
   color: #2f302c;
}

.catalog__link::after {
   content: "";
   position: relative;
   background: url(../img/icons/chevron-right.svg) center no-repeat;
   width: 16px;
   height: 16px;
   vertical-align: middle;
   margin-left: 9.5px;
}

.catalog__card--second {
   background-color: #e6efea;
   align-items: center;
   padding: 48px 15px 51px 15px;
}

.image__chair {
   position: absolute;
   bottom: 0;
   right: -32px;
}

/* section trusted-by */
.trusted-by {
   padding: 82px 0;
}

.trusted-by__body {
   font-size: 0;
}

[class*="__title"] {
   font-size: 32px;
   font-weight: 800;
   line-height: 1.25;
   text-transform: uppercase;
}

.trusted-by__title {
   margin-bottom: 72px;
   text-align: center;
}

.trusted-by__content {
   display: grid;
   gap: 74.4px;
   grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

/* section products */
.products {
   padding: 82px 0;
}

.products__title, .benefits__title {
   font-size: 32px;
   font-weight: 800;
   line-height: 1.25;
   text-transform: uppercase;
   color: #2f302c;
}

.products__title {
   margin-bottom: 36px;
   text-align: center;
}

.products__menu {
   display: flex;
   gap: 48px;
   justify-content: center;
   align-items: center;
   margin-bottom: 72px;
}

.products__item {
   position: relative;
   font-size: 16px;
   font-weight: 700;
   line-height: 1.25;
   transition: all 0.3s;
}

.products__item:hover {
   color: #7e7f7c;
}

.products__items {
   display: grid;
   gap: 36px;
   grid-template-columns: repeat(auto-fill, minmax(440px, auto));
   justify-items: center;
   align-items: center;
}

.item-block {
   display: flex;
   flex-direction: column;
   flex-grow: 0;
   flex-shrink: 1;
   flex-basis: 440px;
}

.item-block__link-image {
   display: flex;
   margin-bottom: 32px;
}

.item-block__body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 12px;
   padding-bottom: 10px;
}

.item-block__title, .item-card__title {
   font-size: 16px;
   text-transform: uppercase;
   line-height: 1.25;
   text-align: center;
   color: #2f302c;
}

.item-block__title {
   font-weight: 500;
}

.item-block__title a:hover {
   text-decoration: underline;
   color: #7e7f7c;
}

.item-block__list {
   display: flex;
   gap: 4px;
}

.item-block__price {
   color: #2f302c;
   font-size: 20px;
   font-weight: 800;
   line-height: 1.4; /* 28/20 */
}

/* section benefits */
.benefits {
   padding: 82px 0;
}

.benefits__body {
   padding: 0 90px;
}

.benefits__title {
   text-align: center;
   margin-bottom: 72px;
}

.benefits__items {
   display: grid;
   gap: 68px;
   grid-template-columns: repeat(auto-fill, minmax(348px, auto));
   justify-items: center;
   align-items: center;
}

.benefits__item {
   display: flex;
   flex-direction: column;
   align-items: center;   
}

.item-card {
   font-size: 0;
}

.item-card__img, .item-card__title {
   margin-bottom: 24px;
}

.item-card__title {
   font-weight: 700;   
}

.item-card__text p {
   width: 100%;
   color: #7e7f7c;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.25;
   text-align: center;
}

/* footer */
.footer__container {
   padding-block: 72px;
}

.footer__body {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer__icons {
   display: flex;
   align-items: center;
   column-gap: 32px;
}

@media (width <= 1422px) {
   .header__container {
      min-height: 120px;
      gap: 40px;   
   }
   .action-header,
   .menu__list {
      gap: 8px 25px;
   }
   .menu__list {
      justify-content: center;
   }
   .catalog {
      padding-bottom: 30px;
   }
   .trusted-by {
      padding: 30px 0;
   } 
   .trusted-by__body {
      justify-items: center;
      align-items: center;
   }
   .trusted-by__title {
      margin-bottom: 0;
   }
   .trusted-by__content {
      grid-template-columns: repeat(4, 170px);
      padding-top: 30px;
      padding-bottom: 0;
      gap: 40px 50px;
   }
   .products {
      padding: 30px 0;
   }
   .benefits {
      padding: 30px 0;
   }   
}

@media (width <= 1200px) {
   .header__search {
      flex-basis: 190px;
   }
   .catalog__cards {
      grid-template-columns: 1fr 1fr;
   }
   .catalog__card {
      min-height: 500px;
   }
   .catalog__card:nth-child(1) {
        grid-column: 1 / 1;
    }
    .catalog__card:nth-child(2) {
      grid-column: 1 / -1;
      order: -1;
    }
   .catalog__card:nth-child(3) {
      grid-column: 2 / 3;
    }
    .benefits__items {
      gap: 40px;
    }
}

@media (width <= 992px) {
   .header__container {
      min-height: 100px;
      gap: 30px;
   }
   .action-header,
   .menu__list {
      gap: 8px 17px;
   }
   .header__logo {
     width: 37px;
     flex-shrink: 0;
     overflow: hidden; 
   }
   .catalog__content h3, .catalog__content p, .catalog__link {
      padding-left: 10px;
      padding-right: 10px;
   }
   .trusted-by__content {
      grid-template-columns: repeat(3, 170px);
   } 
}

@media (width < 768px) {
   .header__container {
      min-height: 70px;
   }
   .icon-menu,
   .header__action,
   .header__logo,
   .header__search {
      position: relative;
      z-index: 3;
   }
   .icon-menu {
      display: block;
      width: 30px;
      height: 18px;
      flex-shrink: 0;
   }
   .icon-menu span,
   .icon-menu::before,
   .icon-menu::after {
      content: "";
      height: 2px;
      width: 30px;
      position: absolute;
      right: 0;
      transition: all 0.3s;   
      background-color: #2f302c;
   }
   .icon-menu::before {
      top: 0;
   }
   .icon-menu::after {
      bottom: 0;
   }
   .icon-menu span {
      top: 50%;
      translate: 0 -50%;
   }
   .menu {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 100%;
      background-color: #f6f6f6;
      z-index: 1;
      overflow: auto;
      transition: left 0.3s;
      padding: 120px 15px 30px 15px;
   }
   .menu::before {
      content: "";
      position: fixed;
      width: 100%;
      height: 70px;
      top: 0;
      left: 100%;
      transition: left 0.3s;
      background-color: #fff;
      z-index: 2;
   }
   .menu__list {
      row-gap: 30px;
      flex-direction: column;
      /* align-items: flex-end; */
   }
   .menu__link {
      font-size: 28px;
   }
   .header__search {
      flex-grow: 1;
   }
   .action-header__link {
      width: 25px;
      aspect-ratio: 1;
      padding-left: 0;
      font-size: 0;
      background-size: contain;
   }
   [data-menu-open] .icon-menu span {
      width: 0;
   }
   [data-menu-open] .icon-menu::before {
      rotate: -45deg;
      translate: 0 -50%;
      top: 50%;   
   }
   [data-menu-open] .icon-menu::after {
      rotate: 45deg;
      bottom: 50%;
      translate: 0 50%;   
   }
   [data-menu-open] .menu,
   [data-menu-open] .menu::before {
      left: 0;
   }
   
   [class*="__text"] {
      font-size: 14px;
   }
   .catalog__cards {
      grid-template-columns: 1fr;
    }
   .catalog__card:nth-child(1) {
      grid-column: 1 / 1;
    }
    .catalog__card:nth-child(2) {
      grid-column: 1 / 1;
      order: -1;
    }
    .catalog__card:nth-child(3) {
      grid-column: 1 / 1;
    }
   .footer {
      margin-top: auto;
   }
   .footer__container {
      padding-block: 30px;
   }
   .footer__body {
      max-height: 100px;
   }
   .footer__text p {
      width: 0;
      overflow: hidden;
   }
   .footer__icons {
      margin: 0 auto;
   }
   .trusted-by__content {
      grid-template-columns: repeat(2, 170px);
   }
   .benefits__items {
      grid-template-columns: repeat(auto-fill, minmax(348px, auto));
   } 
}

@media (width < 480px) {
   .header__container {
      gap: 15px;
   }
   .header__logo {
      width: 28px;
   }
   .header__image-logo {
      width: 154px;
   }
   .header__image-logo {
      gap: 8px 15px;
   }
   .search-header {
      border-radius: 5px;
      border: 1px solid #d4d4d4;
   }
   .search-header__button {
      display: none;
   }
   .search-header__input {
      height: 33px;
      padding-left: 5px;
      padding-right: 5px;
   }
   .catalog__cards {
      padding-bottom: 0;
   }
   .trusted-by__body {
      padding-top: 50px;
   }
   .trusted-by__content {
      grid-template-columns: repeat(1, 170px);
      padding-top: 0px;
      padding-bottom: 0px;
      gap: 30px 30px;
   }
   .benefits__items {
      grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
   } 
}

