
/* Скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифтів */
@import url("fonts.css");

body {
   font-size: 20px;
   font-family: "Lato",sans-serif;   
   font-weight: 700;
   line-height: 1.4;
   color: #2f302c;
   text-transform: uppercase;
}

.wrapper {
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.wrapper > maim {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 1422px;
   margin: 0 auto;
   padding: 0 15px;
}

[class*="__text"] {
   font-size: 16px;  
   font-weight: 500;
   line-height: 1.25;
   color: #7e7f7c;
   text-transform: none;
}

.header {   
   font-size: 16px;
}

.header__body {
   padding-top: 60px;
   padding-bottom: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 80px;
   row-gap: 30px;
   line-height: 1.25;
}

.logo__img {
   width: 200px;
   max-width: none;
}

.search-header__form {
   display: flex;
   flex-basis: 264px;
   overflow: hidden;
   border-bottom: 1px solid #d4d4d4;
}

.search-header__button {
   width: 20px;
   flex-shrink: 1;
   background: url(../img/search.svg) left no-repeat;
}

.search-header__input {
   font-weight: 500;
   padding-left: 15px;
   padding-right: 15px;
   height: 43px;
}

.menu__list {
   display: flex;
   align-items: center;
   column-gap: 44px;
   row-gap: 10px;
}

.menu__item {
   position: relative;
}

.menu__link {
   transition: all 0.3s;
}

.menu__link:hover {
   opacity: 0.5;
}

.menu__link--arrow::after {
   content: "";
   position: absolute;
   width: 20px;
   height: 20px;
   background-image: url(../img/arrow.svg);
   background-repeat: no-repeat;
}

.action__list {
   display: flex;
   align-items: center;
   gap: 44px;
}

.action__link {
   display: flex;
   align-items: center;
   column-gap: 4px;
   transition: all 0.3s;   
}

.action__link:hover {
   opacity: 0.5;  
}

/* FUNITURE GALLERY */
.hello__container {
   position: relative;
   max-width: 1920px;
   min-height: 612px;
   margin-bottom: 82px;
}

.hello__img {
   width: 100%;
   height: 100%;  
   height: 612px;
   position: relative;
   object-fit: cover;
   object-position: right;
}

.hello__content {
   max-width: 650px;
   padding-top: 114px;
   padding-bottom: 110px;
   position: absolute;
   top: 0;
   left: 52%;
   color: rgba(47, 48, 44, 1);
}

.hello__label {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.40;
   margin-bottom: 20px;
}

.hello__title {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 96px;
   line-height: 1.04;
}

.hello__title span {
   color: #2f302c;
   font-weight: 800;
}

.hello__title::after {
   content: "";
   display: block;
   width: 100%;
   height: 1px;
   max-width: 308px;
   margin-top: 16px;
   margin-bottom: 36px;
   margin-left: 10px;
   background-color: #2f302c;
}

.hello__text {
   max-width: 374px;
   width: 100%;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.25;
   text-transform: none;
   color: rgba(126, 127, 124, 1);
}

/* footer */
.footer__container {
   padding-block: 72px;
}

.footer__body {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer__icons {
   display: flex;
   align-items: center;
   column-gap: 32px;
}

@media (width <= 1422px) {
   .header__body {
      min-height: 120px;
      gap: 40px;
   }
   .header__search {
      flex-basis: 190px;
   }
   .actions, .menu__list {
      justify-content: center;
   }
}

@media (width <= 992px) {
   .header__body {
      min-height: 100px;
      gap: 30px;
   }
   .header__logo {
      width: 35px;
      overflow: hidden;
   }
   .actions, .menu__list {
      gap: 8px 17px;
   }
}

@media (width <= 768px) {
   .header__body {
     min-height: 50px;
     padding-top: 30px;
     padding-bottom: 30px;
     gap: 10px;
   }
   .icon-menu, .header__logo, .header__search, .action {
      position: relative;
      z-index: 3;
   }
   .icon-menu {
      display: block;
      width: 30px;
      height: 18px;
      flex-shrink: 0;
   }
   .icon-menu span, .icon-menu::before, .icon-menu::after {
      content: "";
      height: 2px;
      width: 30px;
      position: absolute;
      right: 0;
      transition: all 0.3s;
      background-color: #2f302c;
   }
   .icon-menu::before {
      top: 0;
   }
   .icon-menu::after {
      bottom: 0;
   }
   .icon-menu span {
      top: 50%;
      translate: 0 -50%;
   }
   .header__search {
      flex-grow: 1;
   }
   .menu {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 100%;
      background-color: #f6f6f6;
      z-index: 1;
      overflow: auto;
      transition: left 0.3s;
      padding: 120px 15px 30px 15px;
   }
   .menu::before {
      content: "";
      position: fixed;
      width: 100%;
      height: 70px;
      top: 0;
      left: 100%;
      transition: left 0.3s;
      background-color: #fff;
      z-index: 2;
   }
   .menu__list {
      row-gap: 30px;
      flex-direction: column;
   }
   .menu__link {
      font-size: 28px;
   }
   [data-menu-open] .menu, [data-menu-open] .menu::before {
      left: 0;
   }
   .actions__link {
      width: 25px;
      aspect-ratio: 1;
      padding-left: 0;
      font-size: 0;
      line-height: 1;
      background-size: contain;
   }
   .icon-menu {
      display: block;
      width: 30px;
      height: 18px;
      flex-shrink: 0;
   }
   .action__list span {
      display: none;
   }
   .actions__list {
      gap: 8px 15px;
   }   
}

@media (width < 480px) {
   .header__body {
      gap: 5px;
   }
   .header__logo {
      width: 28px;
   }
   .logo__img {
      width: 154px;
   }
   .header__search {
      border-radius: 5px;
      border: 1px solid #d4d4d4;
   }
   .search-header__button {
      display: none;
   }
   .search-header__input {
      height: 33px;
      padding-left: 5px;
      padding-right: 5px;
   }
   
}










