*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea,
input {
  width: 100%;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

label {
  display: inline-block;
}

button {
  background-color: transparent;
}

button,
input[type=checkbox],
input[type=redio] {
  cursor: pointer;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato-bold-italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato-heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icons";
  src: url("data:font/ttf;charset=utf-8;base64,AAEAAAANAIAAAwBQQ09MUgCTAnoAACUsAAAAnkNQQUwwACxBAAAlFAAAABZPUy8yDxIO5AAAAVgAAABgY21hcOAhENkAAAI8AAAAVGdhc3AAAAAQAAAlDAAAAAhnbHlmfV8iYAAAAtQAACD4aGVhZEToRVUAAADcAAAANmhoZWEewhviAAABFAAAACRobXR4taIAAAAAAbgAAACEbG9jYXVMfUQAAAKQAAAARG1heHAAKgEJAAABOAAAACBuYW1leWHoeAAAI8wAAAEgcG9zdAADAAAAACTsAAAAIAABAAAAAQAAbPlPX18PPPUACwQAAAAAAOVkgGsAAAAA5WSAawAA/8EbAAPBAAAACAACAAAAAAAAAAEAAAPA/8AAABwAAAAAABsAAAEAAAAAAAAAAAAAAAAAAAAhAAEAAAAhAQcACAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAwWtAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADwDQPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAAABAAAAAQAAAACAAAABNsAAAQAAAAEAAAABAAAAAJmAAAEAAAABxwAAAQAAAAEAAAAHAAAAAUlAAAEAAAABLUAAAOaAAAE2wAABAAAAAQAAAAEAAAABAAAAAJmAAAEAAAABxwAAAQAAAAEAAAAHAAAAAUlAAAEAAAABLUAAAOaAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAOAAAAAoACAACAAIAAAANACDwDf//AAAAAAANACDwAP//AAH/9f/jEAQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAI4BGAFUAtADFAN0A7wETgSeBNQFRgaQBzYHwAhOCNgJDAoQC4wL0AwwDHgNCg1aDZAOAg9MD/IQfAABAAD/0gTNA8AAXQAAAQ4BBxUWBwYHBgcOAQcGIyoBIyInJicWFxYzMjY3JicmJyYnFhcWMzI3NjcmJyYnJj0BHgEXJicmJyY1NDc2NxYXFhcWFyY3Njc2NzY3NjMyFxYXNjc2Nw4BBzY3NgTNGT4kARkYLy9DQ6JaWl4CBAJnYmNWDxAPD1WgQjUwLyMkEAwMCwwSEBEROi8tGhsaOh4iGhkNDQgJEEBTUl5gZQ4MCyEiMhweHh41LzElKigpJQ46JyUlJANIJkIbIWBcXFJTREJeGBkeHTgCAQE4NQEWFicoMwIBAQMCBQwkIzQ1OwMOEAEXIiEnKCohISAdTjo6ICEGODc3LS0bDwgHFRUoCQ8QFixIGAUJCgAAAAEAAP/0A/cDwABdAAABNjc2MzIXFh8BHgIXFjsBMhcWFxYVFAcGDwEGBwYHBhUUHwEWBwYHBiMiJi8BJicmIyIHBg8BBgcGIyInJicmPwE2NTQnJicmLwEuATU0NzY3NjsBMjc2NzY3NjcBuwcTERUWERMHSQQMEgoKC+0UEA8JCAcHDr8JBgcDBARJBwgHEhIVCxQJvwkKCwsKCwoJvwkLCQsVEhIHCAdJAwMDBwYJvw4OCAkPEBTtCgsKCQgHBgQDkRYNDAwNFuEKEgwEAwoKEA8SEA0PC4oHCQgLCgsKC+AXFhQNDAYHiwYEAwMEBosHAwMMDRQWF+ALCgsKCwgJB4oLHBASDxAKCgMEBgYJCQoAAAEAAP/kA9wDwAAkAAAlJicmJyY1NDc2NzY3NjMyFxYXFhcWFAcOAQcGIyInJic0JicmATpcR0cnKSclRURZXGRlW1lERSUnJyeKWFtkJiUkIwgICQckREVaXmZlXFhERSUnJyVFRFhcyl1ZiCUmBgULAQIDAwAAAAUAAP/MA/QDwABVALYA1gDtAQYAAAEeARcWFxQVFAcUBwYVDgEHBgcOAQcGBw4BBwYHIiMiIyYnLgEnJicuAScmJy4BJyYnNDU0NTY3PgE3Njc+ATc2Nz4BNzY3MjMyMxYXHgEXFhceARcWAzY1NjQnNCc0JyYnJicmJy4BJyYnJiMmJyIjIgciBwYjIgcGBwYHBgcOAQcGBwYVBgcUFRQXFBcWFRYXFhcWFxYXFhcWFxYXFjMWMxYzMjcyNzI3Njc2NzY3Njc2NzY3NiU0Nz4BNzY3MzIWFxYXFhUcAQcGBwYHBisBIicuAScmBTI3PgE3NjU0JyYnJiIHBgcGFBcWFxYBBgcGIiYnLgE1NDc2NzY3NjMyHgEVFAcGA9oKDAECAQEBAQEMCgoPDyYXFhodPiAmIh1rbBwiJiA+HRoWFyYPDwkLDAECAQECAQwLCQ8PJhcWGh0+ICYiHGxrHSImID4dGhYXJg8POgIBAQIFBAgHCQoMDR4SFhgYGCQiHGg6KhQlGxIZGBgYEA4OCw0UBwkEBQIBAQEBAQUFCQYKCQ0MDg4PGBkZGSQiHGhhIx8nGBgYFxAPDg0MCgoGCAQF/WEUFEguMDUBM2AkJRMUFBQkJC4xNAE0MC9IFBQBAyEfHzANDBcWJidcJyYXFxcXJicBUwUGBgwWCQgKAgECBw8QEhEcEAoLAxEdPiAmIhxsPCsTJxsUID4dGhYXJg8PCQsMAQIBAQIBDAsJDw8mFxYaHT4gJiIda2wcIiYgPh0aFxYmDw8JCwwBAgEBAgEMCwkPDyYXFv3RJx8jwiMfJxkYGBgPDg8LDhQHCAQFAgEBAQEFBAgHCwoNCxwQGBgYGSQiG2k6KhQlGxIZGBkXEA8ODQwKCQcIAwQCAQECBQQIBwkKDA0ODxEWGBjiNTAuSBQUASgkJS8wMwE1MC8jJBQVFRNILzBzDA0wHx8hLicmFxcXFyYnXCcmFhcBfgIBAgoICRYMBgYGBRELChAcERIQDwAAAAABAAD/wQJmA8AAKAAANTQ2NwkBJicmNTQ3PgI7ATIXFhcBFhcWFRQHBgcBBgcGIyImJyYnJhAOAVH+rw4HCAgIHCYUARQSEg8BmQ8HCAgHD/5nDxITFRQmDg4ICCgUJg4BUQFRDxMSFBUSExwQBwgO/mcPEhMUFRMTDv5mDggIEA4PEhMAAAAAAQAA/8wD9APAAEAAAAEyFxYXFhcWFREUBwYHBgcGIyERMzcjNTQ3Njc2OwE1JicmIyYHBgcGBwYXFSMVMxEhIicmJyYnJjURNDc2NzYzA7wLCwoIBwUEBAUHCAoLC/7+hBSYBgYQEh5RHh0eHSkmJh0cDQ4Eg4P+HAsLCggIBAQIBw0NDwPABAQICAoLC/x8CwsKCAcFBAGKl2IYDxEJCogDAgEDDg8dHiYnKHKY/ngEBQcICgsLA4QPDQ0HCAAAAQAA//kG5APAACoAAAE2NzYzMhcWFxYXFhUUBwYHAQYHBiMiJyYnASYnJjU0Nz4BNzYzMhcWFwEGUgwQEBARDxANDAYHBwYM/OMMEBAQEQ8QDfzkDAcGBgcYEBAQEQ8QDQLgA6cMBwYGBwwMEBAQEQ8QDfzkDAcGBgcMAxwNEA8REBAQGAcGBgcM/SAAAAAAAgAA/9oD5gPAACcAXQAAATQnLgEnJiMiBw4BBwYVFB4BFxYXFhcWFx4BMzI2NzY3PgE3Njc+ATcUBwYHDgEHARYXFhQHBgcGBwYiJyYnAQ4BBwYHBiInLgEnJicmJy4BJyY1ND4CMhYXFhcWAs0ZGFo7Oz9AOzpaGRgMGBIRFxYaGh0dPiAfPh0dGxosEhEMDQxNCAgPCx4TARwGAwICAwYFCAYQBggF/uQXMhskJyZOJyZIISAcGxYWHgcIPHCSnpI3OB4fAjNAOzpaGRgYGVo6O0AfPjobGhYWEhEMDQwMDQwREiwaGx0dPh8nJickGzIX/uQFCAYQBggFBgMCAgMGARwTHgsPCAgICB4VFhwbISBIJyYnT5JwPDw4OElJAAAAAAEAAP/lA9sDwAAzAAAlESEiJyYnJjQ3Njc2MyERNDc2NzYyFxYXFhURITIXFhcWFAcGBwYjIREUBwYHBiInJicmAbf+gA8NDAgHBwgMDQ8BgAcIDA0eDA0HCAGADg0NBwcHBw0NDv6ACAcNDB4NDAgHGwGACAcNDB4NDAgHAYAPDQwIBwcIDA0P/oAHCAwNHgwNBwj+gA4NDQcHBwcNDQABAAAAwBsAA8AAHwAAATIXFhcWFxYUBwYHBgcGIyEiJyYnJicmNDc2NzY3NjMZgE5HRTY1HR4eHTU2RUdO6ABOR0U2NR0eHh01NkVHTgPAHh01NkVHnEdFNjUdHh4dNTZFR5xHRTY1HR4AAAADAAD/5QUAA8AAGQAxAEkAACUyFxYXFhUUBwYHBiMhIicmJyY1NDc2NzYzATIXFhcWFAcGBwYjISInJicmNDc2NzYzATIXFhcWFAcGBwYjISInJicmNDc2NzYzBMkPDQwIBwcIDA0P+24PDQwIBwcIDA0PBJIPDQwIBwcIDA0P+24PDQwIBwcIDA0PBJIPDQwIBwcIDA0P+24PDQwIBwcIDA0PUgcHDQ0PDg0NBwcHBw0NDg8NDQcHAbcHCAwNHgwNBwgIBw0MHg0MCAcBtwcIDA0eDQwHCAgHDA0eDQwIBwAAAAAIAAD/3APkA8AAHwA/AF4AfgCaALYA0gDuAAAlNCYnJicmKwEiBw4BBwYdARQXHgEXFjsBMjc2Nz4BNSU0Jy4BJyYrASIHDgEHBh0BFBceARcWOwEyNz4BNzY1ATQmJyYnJisBIgcOAQcGHQEUFxYXHgE7ATI2Nz4BNSU0Jy4BJyYrASIHDgEHBh0BFBcWFx4BOwEyNjc2NzY1ARQOAisBIicuAj0BNDc+ATc2OwEyHgEXFhUFFA4CKwEiJy4CPQE0Nz4BNzY7ATIeARcWFQEUDgIrASInLgI9ATQ3PgE3NjsBMh4BFxYVBRQOAisBIicuAj0BNDc+ATc2OwEyHgEXFhUBVQoKCw0NDnIODQ0UBQYGBRQNDQ5yDg0NCwoKAjkFBhQNDQ5yDg0NFAUGBgUUDQ0Ocg4NDRQGBf3HCgoLDQ0Ocg4NDRQFBgYFCgoaDnIOGgsKCgI5BQYUDQ0Ocg4NDRQFBgYFCgoaDnIOGgoKBgX+HRgsOh9yHxwdLBgMDCwdHB9yHzosDAwCORgsOh9yHx0cLBgMDCwcHR9yHzosDAz9xxgsOh9yHxwdLBgMDCwdHB9yHzosDAwCORgsOh9yHx0cLBgMDCwcHR9yHzosDAzrDhoKCgUGBgUUDQ0Ocg4NDRQGBQUGCgoaDnIODQ0UBQYGBRQNDQ5yDg0NFAYFBQYUDQ0OAqsOGgoKBQYGBRQNDQ5yDg0NCwoKCgoLGg5yDg0NFAUGBgUUDQ0Ocg4NDQsKCgoKCw0NDv3HHzosGAwMLDofch8dHCwMDBgsHB0fch86LBgMDCw6H3IfHRwsDAwYLBwdHwHHHzosGAwMLDofch8cHSwMDBgsHRwfch86LBgMDCw6H3IfHB0sDAwYLB0cHwACAAD/yASXA8AANwBoAAABJicmIgcGDwEGBwYiJyYvASYnJicmJyYiBwYHBgcGBwYHBgcGBwYUFxYXFhcWFwkBNjc2NTQnJhcUBwYHAQYHBiInJicBJicuAScmNDc+ATc+ATc+ATc2MhceARcWHwE3PgEyFhcWFxYD+iApKlopKh9QBggJEggIB08QEhMUFRYWLBYWFBUSEw8QDQwICQQFBQQJCAwNEAGuAa8gEREREX0YGSz+MQYICRIICAf+MhYSERgGBgYGGBESLBoZOh8ePh8eOhoaFi8wLHR+dC0sGRgDIyAREhIRIE8GBAMDBAZPEA0MCAkEBQUECQgMDRAPExIVFBYWLBYWFRQTEhD+UQGvICkqLC4pKoA/Ojot/jEGAwQEAwYBzxYaGjoeHz4eHzoZGiwSERgGBgYGGBESFi8vLTAwLSw6OgAAAAMAAP/aA4ADwAARAC8AXwAAATQnJicmJyYiBwYHBgcGHQEhFTUhFRQHBgcGIyIuAT0BIwMhAyMVFA4BIyInJicmNzMyFhcTHAEVFAcGBw4BIyEiJicmJyY1ND0BEzc2NzY7ATU0Nz4BNzYyFx4BFxYVAmYMDRcYHh9CHx4YFw0MAUz+tAYFCAkLChIKUC0C4C1QChIKCwkIBQZNcw8WAjMDAgUGDgj8zAgOBgUCAzMCAwoLDXMSE0QtLWAtLUQTEgLNIR4fFxgNDAwNGBcfHiFAjUBACgkJBQUKEgpA/eYCGkAKEgoFBQkJlxQP/ZkBAQEHBwcFBgYGBgUHBwcBAQECZwcMCAhAMC0tRBITExJELS0wAAEAAP/SBM0DwABdAAABDgEHFRYHBgcGBw4BBwYjKgEjIicmJxYXFjMyNjcmJyYnJicWFxYzMjc2NyYnJicmPQEeARcmJyYnJjU0NzY3FhcWFxYXJjc2NzY3Njc2MzIXFhc2NzY3DgEHNjc2BM0ZPiQBGRgvL0NDolpaXgIEAmdiY1YPEA8PVaBCNTAvIyQQDAwLDBIQERE6Ly0aGxo6HiIaGQ0NCAkQQFNSXmBlDgwLISIyHB4eHjUvMSUqKCklDjonJSUkA0gmQhshYFxcUlNEQl4YGR4dOAIBATg1ARYWJygzAgEBAwIFDCQjNDU7Aw4QARciIScoKiEhIB1OOjogIQY4NzctLRsPCAcVFSgJDxAWLEgYBQkKAAAAAQAA//QD9wPAAF0AAAE2NzYzMhcWHwEeAhcWOwEyFxYXFhUUBwYPAQYHBgcGFRQfARYHBgcGIyImLwEmJyYjIgcGDwEGBwYjIicmJyY/ATY1NCcmJyYvAS4BNTQ3Njc2OwEyNzY3Njc2NwG7BxMRFRYREwdJBAwSCgoL7RQQDwkIBwcOvwkGBwMEBEkHCAcSEhULFAm/CQoLCwoLCgm/CQsJCxUSEgcIB0kDAwMHBgm/Dg4ICQ8QFO0KCwoJCAcGBAORFg0MDA0W4QoSDAQDCgoQDxIQDQ8LigcJCAsKCwoL4BcWFA0MBgeLBgQDAwQGiwcDAwwNFBYX4AsKCwoLCAkHigscEBIPEAoKAwQGBgkJCgAAAQAA/+UD3APAAB8AAAUiJyYnJicmNTQ3Njc2NzYzMhcWFxYXFhUUBwYHBgcGAe5kXFlERSUnJyVFRFlcZGVbWURFJScnJUVEWVsbJyVERVhcZGVcWERFJScnJUVEWFxlZFxYRUQlJwABAAD/5APbA8EAtAAAATIXHgEXFhUcAQcGBwYHBiMiJyYnNjc2NzY3Njc2NzY3Njc0PwE1FhcWFxYzMjc2NzY3NjU0JyYnJicmIyIHBgcGBwYVFBcWFxYXFjc2NzY3Njc2NSYnJicmNTQ3Njc2NzYzMhcWFxYVFAcGBwYjIicmJyY3Njc2NzY1NCcmJyYjIgcGBwYVFBcWFxYXFhcUFxQXHQIGFAcGBwYHBgcGBwYHBgcGFRYXLgEnJjU0NzY3Njc2Ae5kXFmIJScnJURFWFxlJiUkIxMPFAcCBgQGAgMCAgEBAQEIERIWGBg3MC4jIxITFxcqKTc5P04/PCsoFhUNDBYYHgcEBAEBBgUCAQEDEAoLDxAcHigsMzwvLxoaFRQjJCsYExMICQYFDAwECAcHDg8UGBUUDAwCAgMBAgEBAQEBAQEBAgEFBAUEDAgJAwcBBFyOJyknJUVEWVwDwCcliFlbZQFlXFhERSUnBgULIB0oHAgVEBcJCggIAwMCAwMBEA0NBwgYFysqNzk/PDYzJycVFRgYKyg3NTslJyceIQ4DAgEHAhcWCQQDBAMTHyAfKSYnHh8REhoZLS47QTUyHR0MDRQVGBQnKBEdExQPEAkKEBAbHCEPDwwLBQQDAwEBAQEBAQIBAgIFBgYHEhEVFDEhKQ4dKyElJIpaXmZlXFhERSUnAAAABQAA/8wD9APAAFUAtgDWAO0BBgAAAR4BFxYXFBUUBxQHBhUOAQcGBw4BBwYHDgEHBgciIyIjJicuAScmJy4BJyYnLgEnJic0NTQ1Njc+ATc2Nz4BNzY3PgE3NjcyMzIzFhceARcWFx4BFxYDNjU2NCc0JzQnJicmJyYnLgEnJicmIyYnIiMiByIHBiMiBwYHBgcGBw4BBwYHBhUGBxQVFBcUFxYVFhcWFxYXFhcWFxYXFhcWMxYzFjMyNzI3Mjc2NzY3Njc2NzY3Njc2JTQ3PgE3NjczMhYXFhcWFRwBBwYHBgcGKwEiJy4BJyYFMjc+ATc2NTQnJicmIgcGBwYUFxYXFgEGBwYiJicuATU0NzY3Njc2MzIeARUUBwYD2goMAQIBAQEBAQwKCg8PJhcWGh0+ICYiHWtsHCImID4dGhYXJg8PCQsMAQIBAQIBDAsJDw8mFxYaHT4gJiIcbGsdIiYgPh0aFhcmDw86AgEBAgUECAcJCgwNHhIWGBgYJCIcaDoqFCUbEhkYGBgQDg4LDRQHCQQFAgEBAQEBBQUJBgoJDQwODg8YGRkZJCIcaGEjHycYGBgXEA8ODQwKCgYIBAX9YRQUSC4wNQEzYCQlExQUFCQkLjE0ATQwL0gUFAEDIR8fMA0MFxYmJ1wnJhcXFxcmJwFTBQYGDBYJCAoCAQIHDxASERwQCgsDER0+ICYiHGw8KxMnGxQgPh0aFhcmDw8JCwwBAgEBAgEMCwkPDyYXFhodPiAmIh1rbBwiJiA+HRoXFiYPDwkLDAECAQECAQwLCQ8PJhcW/dEnHyPCIx8nGRgYGA8ODwsOFAcIBAUCAQEBAQUECAcLCg0LHBAYGBgZJCIbaToqFCUbEhkYGRcQDw4NDAoJBwgDBAIBAQIFBAgHCQoMDQ4PERYYGOI1MC5IFBQBKCQlLzAzATUwLyMkFBUVE0gvMHMMDTAfHyEuJyYXFxcXJidcJyYWFwF+AgECCggJFgwGBgYFEQsKEBwREhAPAAAAAAEAAP/BAmYDwAAoAAA1NDY3CQEmJyY1NDc+AjsBMhcWFwEWFxYVFAcGBwEGBwYjIiYnJicmEA4BUf6vDgcICAgcJhQBFBISDwGZDwcICAcP/mcPEhMVFCYODggIKBQmDgFRAVEPExIUFRITHBAHCA7+Zw8SExQVExMO/mYOCAgQDg8SEwAAAAABAAD/zAP0A8AAQAAAATIXFhcWFxYVERQHBgcGBwYjIREzNyM1NDc2NzY7ATUmJyYjJgcGBwYHBhcVIxUzESEiJyYnJicmNRE0NzY3NjMDvAsLCggHBQQEBQcICgsL/v6EFJgGBhASHlEeHR4dKSYmHRwNDgSDg/4cCwsKCAgEBAgHDQ0PA8AEBAgICgsL/HwLCwoIBwUEAYqXYhgPEQkKiAMCAQMODx0eJicocpj+eAQFBwgKCwsDhA8NDQcIAAABAAD/+QbkA8AAKgAAATY3NjMyFxYXFhcWFRQHBgcBBgcGIyInJicBJicmNTQ3PgE3NjMyFxYXAQZSDBAQEBEPEA0MBgcHBgz84wwQEBARDxAN/OQMBwYGBxgQEBARDxANAuADpwwHBgYHDAwQEBARDxAN/OQMBwYGBwwDHA0QDxEQEBAYBwYGBwz9IAAAAAACAAD/2gPmA8AAJwBdAAABNCcuAScmIyIHDgEHBhUUHgEXFhcWFxYXHgEzMjY3Njc+ATc2Nz4BNxQHBgcOAQcBFhcWFAcGBwYHBiInJicBDgEHBgcGIicuAScmJyYnLgEnJjU0PgIyFhcWFxYCzRkYWjs7P0A7OloZGAwYEhEXFhoaHR0+IB8+HR0bGiwSEQwNDE0ICA8LHhMBHAYDAgIDBgUIBhAGCAX+5BcyGyQnJk4nJkghIBwbFhYeBwg8cJKekjc4Hh8CM0A7OloZGBgZWjo7QB8+OhsaFhYSEQwNDAwNDBESLBobHR0+HycmJyQbMhf+5AUIBhAGCAUGAwICAwYBHBMeCw8ICAgIHhUWHBshIEgnJidPknA8PDg4SUkAAAAAAQAA/+UD2wPAADMAACURISInJicmNDc2NzYzIRE0NzY3NjIXFhcWFREhMhcWFxYUBwYHBiMhERQHBgcGIicmJyYBt/6ADw0MCAcHCAwNDwGABwgMDR4MDQcIAYAODQ0HBwcHDQ0O/oAIBw0MHg0MCAcbAYAIBw0MHg0MCAcBgA8NDAgHBwgMDQ/+gAcIDA0eDA0HCP6ADg0NBwcHBw0NAAEAAADAGwADwAAfAAABMhcWFxYXFhQHBgcGBwYjISInJicmJyY0NzY3Njc2MxmATkdFNjUdHh4dNTZFR07oAE5HRTY1HR4eHTU2RUdOA8AeHTU2RUecR0U2NR0eHh01NkVHnEdFNjUdHgAAAAMAAP/lBQADwAAZADEASQAAJTIXFhcWFRQHBgcGIyEiJyYnJjU0NzY3NjMBMhcWFxYUBwYHBiMhIicmJyY0NzY3NjMBMhcWFxYUBwYHBiMhIicmJyY0NzY3NjMEyQ8NDAgHBwgMDQ/7bg8NDAgHBwgMDQ8Ekg8NDAgHBwgMDQ/7bg8NDAgHBwgMDQ8Ekg8NDAgHBwgMDQ/7bg8NDAgHBwgMDQ9SBwcNDQ8ODQ0HBwcHDQ0ODw0NBwcBtwcIDA0eDA0HCAgHDQweDQwIBwG3BwgMDR4NDAcICAcMDR4NDAgHAAAAAAgAAP/cA+QDwAAfAD8AXgB+AJoAtgDSAO4AACU0JicmJyYrASIHDgEHBh0BFBceARcWOwEyNzY3PgE1JTQnLgEnJisBIgcOAQcGHQEUFx4BFxY7ATI3PgE3NjUBNCYnJicmKwEiBw4BBwYdARQXFhceATsBMjY3PgE1JTQnLgEnJisBIgcOAQcGHQEUFxYXHgE7ATI2NzY3NjUBFA4CKwEiJy4CPQE0Nz4BNzY7ATIeARcWFQUUDgIrASInLgI9ATQ3PgE3NjsBMh4BFxYVARQOAisBIicuAj0BNDc+ATc2OwEyHgEXFhUFFA4CKwEiJy4CPQE0Nz4BNzY7ATIeARcWFQFVCgoLDQ0Ocg4NDRQFBgYFFA0NDnIODQ0LCgoCOQUGFA0NDnIODQ0UBQYGBRQNDQ5yDg0NFAYF/ccKCgsNDQ5yDg0NFAUGBgUKChoOcg4aCwoKAjkFBhQNDQ5yDg0NFAUGBgUKChoOcg4aCgoGBf4dGCw6H3IfHB0sGAwMLB0cH3IfOiwMDAI5GCw6H3IfHRwsGAwMLBwdH3IfOiwMDP3HGCw6H3IfHB0sGAwMLB0cH3IfOiwMDAI5GCw6H3IfHRwsGAwMLBwdH3IfOiwMDOsOGgoKBQYGBRQNDQ5yDg0NFAYFBQYKChoOcg4NDRQFBgYFFA0NDnIODQ0UBgUFBhQNDQ4Cqw4aCgoFBgYFFA0NDnIODQ0LCgoKCgsaDnIODQ0UBQYGBRQNDQ5yDg0NCwoKCgoLDQ0O/ccfOiwYDAwsOh9yHx0cLAwMGCwcHR9yHzosGAwMLDofch8dHCwMDBgsHB0fAccfOiwYDAwsOh9yHxwdLAwMGCwdHB9yHzosGAwMLDofch8cHSwMDBgsHRwfAAIAAP/IBJcDwAA3AGgAAAEmJyYiBwYPAQYHBiInJi8BJicmJyYnJiIHBgcGBwYHBgcGBwYHBhQXFhcWFxYXCQE2NzY1NCcmFxQHBgcBBgcGIicmJwEmJy4BJyY0Nz4BNz4BNz4BNzYyFx4BFxYfATc+ATIWFxYXFgP6ICkqWikqH1AGCAkSCAgHTxASExQVFhYsFhYUFRITDxANDAgJBAUFBAkIDA0QAa4BryARERERfRgZLP4xBggJEggIB/4yFhIRGAYGBgYYERIsGhk6Hx4+Hx46GhoWLzAsdH50LSwZGAMjIBESEhEgTwYEAwMEBk8QDQwICQQFBQQJCAwNEA8TEhUUFhYsFhYVFBMSEP5RAa8gKSosLikqgD86Oi3+MQYDBAQDBgHPFhoaOh4fPh4fOhkaLBIRGAYGBgYYERIWLy8tMDAtLDo6AAAAAwAA/9oDgAPAABEALwBfAAABNCcmJyYnJiIHBgcGBwYdASEVNSEVFAcGBwYjIi4BPQEjAyEDIxUUDgEjIicmJyY3MzIWFxMcARUUBwYHDgEjISImJyYnJjU0PQETNzY3NjsBNTQ3PgE3NjIXHgEXFhUCZgwNFxgeH0IfHhgXDQwBTP60BgUICQsKEgpQLQLgLVAKEgoLCQgFBk1zDxYCMwMCBQYOCPzMCA4GBQIDMwIDCgsNcxITRC0tYC0tRBMSAs0hHh8XGA0MDA0YFx8eIUCNQEAKCQkFBQoSCkD95gIaQAoSCgUFCQmXFA/9mQEBAQcHBwUGBgYGBQcHBwEBAQJnBwwICEAwLS1EEhMTEkQtLTAAAAAMAJYAAQAAAAAAAQAFACEAAQAAAAAAAgAHADAAAQAAAAAAAwAFAEUAAQAAAAAABAANAGMAAQAAAAAABQALAAAAAQAAAAAABgAFAFQAAwABBAkAAQAKACYAAwABBAkAAgAOADcAAwABBAkAAwAKAEoAAwABBAkABAAaAHAAAwABBAkABQAWAAsAAwABBAkABgAKAFlWZXJzaW9uIDEuMABWAGUAcgBzAGkAbwBuACAAMQAuADBpY29ucwBpAGMAbwBuAHNSZWd1bGFyAFIAZQBnAHUAbABhAHJpY29ucwBpAGMAbwBuAHNpY29ucwBpAGMAbwBuAHNpY29ucyBSZWd1bGFyAGkAYwBvAG4AcwAgAFIAZQBnAHUAbABhAHIAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAH//wAPAAAAAgABAAIAAAAOAAAsMC///////wAAAAAADgAAAA4AAABiAA8ABAAAAAEABQABAAEABgACAAIABwAEAAEACAAFAAEACQAGAAEACgAHAAEACwAIAAEADAAJAAEADQAKAAEADgALAAEADwAMAAEAEAANAAEAEQAOAAEAEgAAABMAAAAUAAEAFQAAABYAAAAXAAAAGAAAABkAAAAaAAAAGwAAABwAAAAdAAAAHgAAAB8AAAAgAAAAAA==") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class*="--icon-"]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="--icon-s-twitter"]::before {
  content: "\f000";
}

[class*="--icon-s-star"]::before {
  content: "\f001";
}

[class*="--icon-s-pinterest"]::before {
  content: "\f002";
}

[class*="--icon-s-instagram"]::before {
  content: "\f003";
}

[class*="--icon-s-shevron"]::before {
  content: "\f004";
}

[class*="--icon-s-facebook"]::before {
  content: "\f005";
}

[class*="--icon-s-select-arrow"]::before {
  content: "\f006";
}

[class*="--icon-s-search"]::before {
  content: "\f007";
}

[class*="--icon-s-plus"]::before {
  content: "\f008";
}

[class*="--icon-s-minus"]::before {
  content: "\f009";
}

[class*="--icon-s-list"]::before {
  content: "\f00a";
}

[class*="--icon-s-grid"]::before {
  content: "\f00b";
}

[class*="--icon-s-favorite"]::before {
  content: "\f00c";
}

[class*="--icon-s-cart"]::before {
  content: "\f00d";
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > maim {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  font-size: 58px;
  color: red;
}