@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea,
input {
  width: 100%;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

label {
  display: inline-block;
}

button {
  background-color: transparent;
}

button,
input[type=checkbox],
input[type=redio] {
  cursor: pointer;
}

body {
  font-family: "Playfair Displey", serif;
  font-weight: 400;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > maim {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* Обмежуючий контейнер  */
[class*=__container] {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.page__container div {
  margin-top: 3.125rem;
}

h1 {
  font-size: 1.875rem;
}

.page__content > :nth-child(2) {
  font-size: 1.25rem;
}

.page__content p {
  font-size: 1.125rem;
}

h2 {
  margin-top: 20px;
  color: blueviolet;
}