
/* Скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Значення за замовченням */
body {
   font-family: "Lato",sans-serif;
   color: #7e7f7c;
}

.wrapper {
   position: relative;
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}

.wrapper > maim {
   flex-grow: 1;
}

/* Обмежуючий контейнер  */
[class*="__container"] {
   max-width: 1422px;
   margin: 0 auto;
   padding: 0 15px;
}

/* header */
.header__container {
   min-height: 164px;
   padding-top: 5px;
   padding-bottom: 5px;
   display: flex;
   align-items: center;
   gap: 80px;         
}

.header__image-logo {
   width: 200px;
   max-width: none;
}

.header__search {
   flex-basis: 264px;
}

.search-header {
   display: flex;
   overflow: hidden;
   border-bottom: 1px solid #d4d4d4;
}

.search-header__button {
   width: 15px;
   flex-shrink: 0;
   background: url(../img/icons/search.svg) left no-repeat;
}

.search-header__input {
   padding-left: 15px;
   padding-right: 15px;
   height: 43px;
}

.header__menu {
   flex-grow: 1;
}

.icon-menu {
   display: none;
}

.menu__list {
   display: flex;
   align-items: center;
   gap: 8px 44px;
   flex-wrap: wrap;
}

.menu__link,
.action-header__link {
   font-weight: 700;
   line-height: 1.25;
   color: #2f302c;
}

.action-header {
   display: flex;
   gap: 44px;
}

.action-header__link {
   padding-left: 22px;
   display: block;
}

.action-header__link--love {
   background: url(../img/icons/heart.svg) left no-repeat;
}

.action-header__link--cart {
   background: url(../img/icons/bag.svg) left no-repeat;
}

/* FUNITURE GALLERY */
.hello {
   padding-top: 114px;
   padding-bottom: 110px;
   background: #d4d4d4 url(../img/rectangle.jpg) left center / cover no-repeat;
}

.hello__container {
   max-width: 1132px;
}

.hello__body {
   max-width: 518px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   margin-left: auto;  
}

.hello__body>* {
   margin-bottom: 20px;
}

.hello__body>*:last-child {
   margin-bottom: 0;
}

.hello__subtitle p{
   font-size: 20px;
   font-weight: 700;
   line-height: 1.4;
   text-transform: uppercase;
}

.hello__title {
   margin-bottom: 16px;
   color: #2f302c;
   font-size: 96px;
   font-family: "Montserrat",sans-serif;
   line-height: 1;
   text-transform: uppercase;
}

.hello__title span {
   font-weight: 800;
}

.hello__inline {
   max-width: 308px;
   margin-bottom: 36px;
   margin-left: 5px;
   height: 1px;
   background-color: #2f302c;
}

.hello__text {
   min-width: 374px;
}

/* footer */
.footer__container {
   padding-block: 72px;
}

.footer__body {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer__icons {
   display: flex;
   align-items: center;
   column-gap: 32px;
}

@media (width <= 1422px) {
   .header__container {
      min-height: 120px;
      gap: 40px;   
   }
   .action-header,
   .menu__list {
      gap: 8px 25px;
   }
   .menu__list {
      justify-content: center;
   }
}

@media (width <= 1200px) {
   .header__search {
      flex-basis: 190px;
   }   
}

@media (width <= 992px) {
   .header__container {
      min-height: 100px;
      gap: 30px;
   }
   .action-header,
   .menu__list {
      gap: 8px 17px;
   }
   .header__logo {
     width: 37px;
     flex-shrink: 0;
     overflow: hidden; 
   } 
}

@media (width < 768px) {
   .header__container {
      min-height: 70px;
   }
   .icon-menu,
   .header__action,
   .header__logo,
   .header__search {
      position: relative;
      z-index: 3;
   }
   .icon-menu {
      display: block;
      width: 30px;
      height: 18px;
      flex-shrink: 0;
   }
   .icon-menu span,
   .icon-menu::before,
   .icon-menu::after {
      content: "";
      height: 2px;
      width: 30px;
      position: absolute;
      right: 0;
      transition: all 0.3s;   
      background-color: #2f302c;
   }
   .icon-menu::before {
      top: 0;
   }
   .icon-menu::after {
      bottom: 0;
   }
   .icon-menu span {
      top: 50%;
      translate: 0 -50%;
   }
   .menu {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 100%;
      background-color: #f6f6f6;
      z-index: 1;
      overflow: auto;
      transition: left 0.3s;
      padding: 120px 15px 30px 15px;
   }
   .menu::before {
      content: "";
      position: fixed;
      width: 100%;
      height: 70px;
      top: 0;
      left: 100%;
      transition: left 0.3s;
      background-color: #fff;
      z-index: 2;
   }
   .menu__list {
      row-gap: 30px;
      flex-direction: column;
      /* align-items: flex-end; */
   }
   .menu__link {
      font-size: 28px;
   }
   .header__search {
      flex-grow: 1;
   }
   .action-header__link {
      width: 25px;
      aspect-ratio: 1;
      padding-left: 0;
      font-size: 0;
      background-size: contain;
   }
   [data-menu-open] .icon-menu span {
      width: 0;
   }
   [data-menu-open] .icon-menu::before {
      rotate: -45deg;
      translate: 0 -50%;
      top: 50%;   
   }
   [data-menu-open] .icon-menu::after {
      rotate: 45deg;
      bottom: 50%;
      translate: 0 50%;   
   }
   [data-menu-open] .menu,
   [data-menu-open] .menu::before {
      left: 0;
   }
   .hello {
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center;
   }
   .hello__subtitle p {
      font-size: 16px;
   }
   .hello__title {
      font-size: 35px;
   }
   .hello__inline {
      margin: 0 auto;
   }
   [class*="__text"] {
      font-size: 14px;
   }
   .footer {
      margin-top: auto;
   }
   .footer__container {
      padding-block: 30px;
   }
   .footer__body {
      max-height: 100px;
   }
   .footer__text p {
      width: 0;
      overflow: hidden;
   }
   .footer__icons {
      margin: 0 auto;
   }
}

@media (width < 480px) {
   .header__container {
      gap: 15px;
   }
   .header__logo {
      width: 28px;
   }
   .header__image-logo {
      width: 154px;
   }
   .header__image-logo {
      gap: 8px 15px;
   }
   .search-header {
      border-radius: 5px;
      border: 1px solid #d4d4d4;
   }
   .search-header__button {
      display: none;
   }
   .search-header__input {
      height: 33px;
      padding-left: 5px;
      padding-right: 5px;
   }
}

