@import url("reset.css");

body {
   font-family: "Lato", sans-serif;
   font-size: 16px;
   font-weight: 400;
}

.wrapper {
   position: relative;
   min-height: 100%;
   overflow: clip;
}

/* header */
.header {
   position: sticky;
   top: 0;
   right: 0;
   left: 0;
   z-index: 999;
   background-color: #16e09e;
}

.header--margin {
   margin-bottom: 30px;
}

[class*="__container"] {
   max-width: 1000px;
   margin: 0 auto;
   padding: 0 10px;
}

.header__title {
   padding: 10px 0;
   text-align: center;
   font-size: 35px;
   font-weight: 700;
   line-height: 1.5;
   color: #fff;
}

.header__menu {
   text-align: center;
   padding-bottom: 10px;
}

.menu__item, .submenu__item {
   display: inline-block; 
   position: relative;
}

.menu__item:hover .menu__link {
   background-color: #7c4eff;
}

.menu__item:hover .menu__submenu {
   opacity: 1;
   visibility: visible;
}

.menu__item:not(:last-child) {
   margin-right: 50px;
}

.menu__link {
   padding: 10px;
   font-size: 18px;
   text-transform: uppercase;
   color: #fff;
}

.submenu__item:hover .submenu__list {   
   visibility: visible;
   opacity: 1;
}

.menu__submenu {
   position: absolute;
   top: 100%;
   left: 0;
   background-color: #7c4eff;
   opacity: 0;
   visibility: hidden;
}

.submenu__link, .sub-menu__link{
   font-size: 18px;
   color: #fff;
}

.submenu,
.sub-menu {
   width: 150px;
   padding: 20px;
   text-align: center;
}

.submenu__list {
   position: absolute;
   top: 0;
   left: 100%;
   background-color: #7c4eff;
   opacity: 0;
   visibility: hidden;
}

.submenu__item:not(:last-child), .sub-menu__item:not(:last-child) {
   margin-bottom: 15px;
}

.submenu__link:hover, .sub-menu__link:hover {
   text-decoration: underline;
}

/* practice */
.practice {
   margin-bottom: 30px; 
}

.practice__container {
   text-align: center;
   font-size: 20px;
   color: #252b42;
}

.practice__container h2 {
   margin-bottom: 20px;
}

.practice__blocks {
   margin-bottom: 30px;
   padding: 50px;
   border-radius: 15px;
   border: 5px solid #16e09e;
}

.practice__blocks h3 {
   margin-bottom: 20px;
}

.practice__block {
   padding: 20px;
   border: 1px solid #fff;
}

.practice__block--yellow {
   background-color: yellow;
}

.practice__block--green {
   position: relative;
   top: 20px;
   left: 30px;
   background-color: #16e09e;
}

.practice__block--violet {
   position: relative;
   z-index: 2;
   background-color: #7c4eff;
}

.practice__block--brown {
   position: relative;
   right: 10%;
   background-color: brown;
}

.practice__color {
   position: relative;
}

.practice__block--aqua {
   background-color: aqua;
}

.practice__block--chocolate {
   background-color: chocolate;
}

.practice__block--blue {   
   position: absolute;
   top: 20px;
   left: 30px;
   background-color: blue;
   color: #fff;
}

.practice__block--cadetblue {
   position: absolute;
   top: 20%;
   left: 50%;
   background-color: cadetblue;
   color: #fff;
}

.practice__fixed {
   width: 100px;
   height: 100px;
   position: fixed;
   top: 50%;
   left: 0;
   z-index: 3;
   background-color: #7c4eff;
   color: #fff;   
}

/* price */
.price {
   margin-bottom: 30px;
}

.price__container {
   max-width: 275px;
}

.price__container h3 {
   margin-bottom: 20px;
   text-align: center;
   font-size: 20px;

}

.list__item {
   min-height: 32px;
   margin-bottom: 15px;
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   position: relative;
   padding-top: 5px;
   padding-left: 42px;
   line-height: 1.7;
   font-size: 14px;
   color: #252b42;
   text-transform: none;
}

.list__item::before {
   content: ""; 
   background: url(../img/check.png) 0 0 / 100% no-repeat;
   width: 32px;
   height: 32px;
   position: absolute;
   left: 0;
   top: 0;
}

.list__item--grey::before {
   content: "";
   background: url(../img/check-grey.png) 0 0 no-repeat;
    width: 32px;
   height: 32px;
   position: absolute;
   left: 0;
   top: 0;  
}

/* product */
.product {
   padding: 50px 0;
   margin-bottom: 77px;
   font-family: "Playfair Display", serif;
   color: #000000;
   background-color: #ffffff;
}

.container {
   padding-top: 43px;
   padding-bottom: 69px;
   border-top: 1px solid #837f7f;
   border-bottom: 1px solid #837f7f;
}

.product__cards-title {
   margin-bottom: 48px;
   font-size: 27px;
   text-align: center;
}

.product__images:not(:last-child) {
   margin-bottom: 77px;
}

.product__images {
   font-size: 0;
   margin: 0 -6.2%;
   color: #fff;
}

.product__images > * {
   font-size: 16px;
}

.product__card:not(:last-child) {
   margin-right: 123px;
}
.product__link {
   display: inline-block;
   width: 33.333%;
   padding: 0 5.53%;
   text-align: center;
   color: #ffffff;
}

.product__card {
   position: relative;
   overflow: hidden;
}

.product__card::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   pointer-events: none;
   transition: background-color 0.3s;
}

.product__link {
   display: inline-block;
   width: 33.333%;
   padding: 0 5.53%;
   text-align: center;
   color: #ffffff;
}

.product__card {
   position: relative;
   overflow: hidden;
}

.product__card::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   pointer-events: none;
   transition: background-color 0.3s;  
}

.product__card:hover::before {
   background-color: rgba(0, 0, 0, 0.6);
}

.product__img {
   position: relative;
   padding-bottom: 125.5%; /* 315/251 */
   width: 100%;
   height: 100%;
}

.product__img img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.product__title,
.product__text {
   position: absolute;
   left: 0;
   z-index: 3;
   width: 100%;
   padding: 0 14px;
}

.product__title {
   top: 42.3%;
   font-size: 28px;
}

.product__text {
   position: absolute;
   bottom: 12px;
   font-size: 17px;
}

.product__wrapper {
   text-align: center;
}

.product__button {
   display: inline-block;
   min-width: 134px;
   border: 1px solid #838383;
   padding: 10px 20px;
   transition: all 0.3s ease;
}

.product__button:hover {
   background-color: #7c4eff;
   color: #fff;
}


/* footer */
.footer {
   text-align: center;
   padding: 10px 0;
   background-color: #16e09e;
}

.footer__title {
   font-size: 25px;
   font-weight: 700;
   color: #fff;
}



















