@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


body{
   max-width: 1920px;
   padding: 0 15px;   
   font-family: "Roboto", sans-serif;
   font-size: 18px;
   font-weight: 500;
   line-height: 1.2;
   background-color: #7e7f7c; 
}

/* .wrapper{
   max-width: 1920px;
   padding: 0 15px;   
} */

/* header */
.header{
   margin-top: 20px;
   text-align: center;
   padding: 20px;
   background-color: #e7e1e1cb;
   color: blue;
}

.body{
   margin-bottom: 70px;
}

.block{
   margin-bottom: 50px;
}

/* відступи у звичайному режимі */
.block p, .block span, .block img{
   margin: 30px 40px 50px 60px;
   padding: 30px 40px 50px 60px;  
}

.block p{
   background-color: aqua;
}

.block span{   
   padding-top: 0;
   padding-bottom: 0;
   background-color: #b3eb0e;
}

.block img{
   display: block;
   margin: 60px auto 0;
   background-color: brown;
}

/* ефект схлопування */
.article{
   margin-bottom: 80px;
   background-color: aqua;  
}

.article-2{
   margin: 30px 0 30px;
   background-color: #b3eb0e;
}

/* відстані між елементами */
.margin{
   padding: 30px;
   margin-bottom: 30px;
   background-color: rgb(196, 98, 52);
}

.margin p{
   margin-bottom: 30px;
}

/* ширина */
.width{
   margin-bottom: 30px; 

   width: 50%;
   margin-bottom: 30px;
}

.width-1{
   margin-bottom: 30px;
   max-width: 500px;
}

.width-2{
   margin-bottom: 30px;
   min-width: 400px;
}

.width-3{
   margin-bottom: 30px;
   margin-left: 50px;
   width: 100%;
}

.width-4{  
   margin-bottom: 30px;
   text-align: center;  
}

.width-4 img{
   width: 200px;
}

.width-5{
   margin-bottom: 30px;
}

.width-5 img{
   width: 100%;
}

/* висота */
.height{
   margin-bottom: 30px;
   height: 200px;
}  

.height-1{
   margin-bottom: 30px;
   min-height: 100px;
}

/* overflow */
.overflow{
   margin-bottom: 30px;
   max-height: 100px;
   overflow: hidden;
}

.overflow-1{
   margin-bottom: 30px;
   max-height: 100px;
   overflow: scroll;
}

.overflow-2{
   margin-bottom: 30px;
   padding: 10px;
   max-height: 100px;
   overflow: auto;
}

.overflow-3{
   margin-bottom: 30px;
   padding: 10px;
   white-space: nowrap;
   overflow: auto;
   
}

/* vertical */
.vertical-1{
   margin-bottom: 30px;
   vertical-align: top;
}

.vertical-3{
   margin-bottom: 30px;
   vertical-align: bottom;
}

/* display */
.display{
   margin: 30px;
   padding: 30px;  
   display: inline;
}

.display-1{
   margin: 30px;
   padding: 30px;
   display: block;
}

.display-2{
   margin: 30px;
   display: block;
}

/* домашка з макету */
.why{
   padding: 80px 0;
   text-align: center;
   font-family: "Lato", sans-serif;
   background-color: #fff;
}

.why__container{
   max-width: 1180px;
   margin: 0 auto;
}

.why__title{
   margin-bottom: 72px;
   text-align: center;
   font-weight: 800;
   font-size: 32px;
   line-height: 1.25; 
   text-transform: uppercase;
   color: #2f302c;   
}

.why__cards h3{
   margin-bottom: 24px;
   font-size: 16px;
   line-height: 1.25; 
   font-weight: 700;
   text-transform: uppercase;
   color: #2f302c;
}

.why__cards p{
   font-size: 16px;
   line-height: 1.25; 
   font-weight: 500;
   color: #7e7f7c;
}

.why__card.card{
   margin-bottom: 68px;
}

.why__card{   
   width: 348px;
   
   padding: 0 34px;
   text-align: center;
   display: inline-block;
}

.why__card img{
   margin-bottom: 24px;
  
}

/* footer */
.footer{
   text-align: center;
   padding: 25px;
   font-size: 25px;
   text-transform: uppercase;
   background-color: #e7e1e1cb;
}










