
/* Скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифтів */
@import url("fonts.css");


body {
   font-family: "Lato", sans-serif;
}

.wrapper {
   position: relative;
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.wrapper > maim {
   flex-grow: 1;
}

.header {
   margin-bottom: 82px;
}

.header, .footer{   
   background: linear-gradient(0deg,rgba(195, 104, 34, 1) 0%, rgba(253, 253, 45, 0.99) 100%);
}

[class*="__container"] {
   max-width: 1422px;
   margin: 0 auto;
   padding: 0 15px;
}

.header__title {
   padding-top: 30px;
   padding-bottom: 30px;
   text-align: center;
}

[class*="__title"] {
   font-weight: 800;
   font-size: 32px;
   line-height: 1.25;
   text-transform: uppercase;
}

[class*="__text"] {
   font-weight: 700;
   font-size: 16px;
   line-height: 1.25;
   color: #7e7f7c;
}

/* REGISTER TO FURNITUR */
.register {
   margin-bottom: 164px;
}

.register__header {
   margin-bottom: 164px;
}

.header-register {
   display: flex;
   flex-direction: column;
   row-gap: 36px;
   text-align: center;
   text-transform: uppercase;
}

.register__wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 80px;
}

.form-register {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex: 1 1 712px;
   gap: 72px;
}

.form-register__header {
   display: flex;
   flex-direction: column;
   row-gap: 36px;
}

.form-register__text {
   font-weight: 500;
}

.form-register__link {
   font-weight: 700;
   text-decoration: underline;
   color: #2f302c;
   transition: color 0.3s;
}

.form-register__fields {
   display: flex;
   flex-direction: column;
   row-gap: 40px;
}

.form-register__row {
   display: flex;
   justify-content: space-between;
   gap: 40px;
}

.form-register__field {
   width: 100%;
}

.form-register__input {
   height: 44px;
   padding: 12px 0px;
   border-bottom: 1px solid #d4d4d4;
   outline: none;
}

.form-register__button {
   align-self: flex-start;
}

.button {
   padding: 12px;
   font-weight: 500;
   min-width: 336px;
   color: #fff;
   background-color: #2f302c;
   transition: all 0.3s;
}

.button:hover {
   background-color: #d4d4d4;
   color: #2f302c;
}

.register__banner {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding: 60px 50px 60px 80px;
   position: relative;
   min-height: 496px;
   flex: 0 1 600px;
   background-color: #f6f6f6;
   overflow: hidden;
   z-index: 1;
}

.banner-register__img {
   position: absolute;
   top: 0;
   right: 50px;
   z-index: -1;
}

.banner-register__info {
   display: flex;
   flex-direction: column;
   row-gap: 24px;
   max-width: 184px;
}

.banner-register__label {
   align-self: flex-start;
}

.label {
   display: inline-block;
   padding: 6px 8px;
   font-weight: 700;
   color: #fff;
   background-color: #ce0000;
   text-transform: uppercase;
   border-radius: 4px;
}

/* footer */
.footer__container {
   padding-top: 30px;
   padding-bottom: 30px;
   text-align: center;
}

.footer__link {
   font-size: 32px;
   font-weight: 800;
}







