@import url("reset.css");

body

.list{
   color: #252b42;
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   line-height: 171.428571%; /* 24/14 */

}

.item{
   padding-left: 45px;
   margin-bottom: 15px;
   background-image: url(../img/check.png) 0 0 no-repeat;
   min-height: 32px;
   line-height: 1.5;
}





















