@import url("reset.css");

@import url("fonts.css");


.header{
   padding: 30px 0 30px;
   margin-bottom: 50px;
   text-align: center;
   font-family: "Montserrat", sans-serif;
   text-transform: uppercase;
   font-weight: 600;
   color: #252b42;
   background-color: #7e7f7c;
}

.wrapper{
   max-width: 1180px;
   margin: 0 auto 50px;
}

.list-item__green{
   min-height: 32px;
   margin-bottom: 15px;
   padding-left: 42px;
   padding-top: 4px;   
   font-size: 14px;
   font-family: "Montserrat", sans-serif;
   background: url(../img/check.png) 0 0 no-repeat;
   font-weight: 600;
   line-height: 1.7;
   text-transform: none;
   color: #252b42;
}

.list-item__grey{
   min-height: 32px;
   margin-bottom: 15px;
   padding-left: 42px;
   padding-top: 4px;   
   font-size: 14px;
   font-family: "Montserrat", sans-serif;
   background: url(../img/check-grey.jpg) 0 0 no-repeat;
   font-weight: 600;
   line-height: 1.7;
   text-transform: none;
   color: #252b42;
}

.item{
   padding-left: 45px;
   margin-bottom: 15px; 
   min-height: 32px;
   line-height: 1.5;
}

.section{
   min-height: 612px;
   margin-bottom: 50px;
   background: url(../img/rectangle.png) center / cover no-repeat;
}

.block__container{
   max-width: 1400px;
   margin: 0 auto;
   padding: 114px 0 110px;
}

.block__content{
   max-width: 650px;
   margin: 0 0 0 auto;
   font-family: "Lato",sans-serif;
   color: #2f302c;  
}

.block__content h3{ 
   margin-bottom: 20px;   
   font-size: 20px;  
   font-style: normal;  
   font-weight: 700;
   line-height: 1.4; /* 28/20 */
   text-transform: uppercase; 
}

.block__title{
   margin-bottom: 16px;
   color: #2f302c;
   font-size: 96px;
   font-style: normal;
   font-family: "Montserrat",sans-serif;
   font-weight: 800;
   line-height: 1.04;
   text-transform: uppercase;
}

.block__title-span{
   font-weight: 700;
}

.block__inline{
   max-width: 308px;
   margin-bottom: 36px;
   margin-left: 5px;
   height: 1px;
   background-color: #2f302c;
}

.subtitle{
   max-width: 380px;
   color: #7e7f7c;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.25;
}

.footer {
   padding: 30px 0 30px;
   text-align: center;
   font-family: "Montserrat", sans-serif;
   text-transform: uppercase;
   font-weight: 600;
   color: #252b42;
   background-color: #7e7f7c;
}

 
  
 
 
 
 
 
  




















